@media  screen and (max-width: 935px){

    html{
        font-size: 50%;
    }

    nav{
        text-align: center;
    }
    #logo{
        padding: 1rem;
    }
    .cloud{
        height: 50rem;
        
    }
    .moving-cloud-1{
        z-index: -1;
    }
    .moving-cloud-2{
        z-index: -2;
    }
    .locations-head h3{
     background: rgb(12, 18, 26);
     background-clip: border-box;
     -webkit-background-clip: text;
    }

    .form-wrapper{
        width: 100%;
    }

    footer{
        text-align: center;
        
        h5{
            padding-bottom: 4rem;
        }
    }
    
}