* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background-color: #27394e;
}

button:focus {
  background: #0c131a;
  outline-style: solid;
  outline-color: white;
}

.main-head {
  background: #131c27;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
}

#logo {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

.link {
  background: #131c27;
}

.link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.link ul li {
  padding: 1rem;
}

.hero {
  min-height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent)), url("./assets/img/landing-page.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url("./assets/img/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

.btn-reserva {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

#locations {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.327)), to(transparent)), url("../img/new-york-page.png");
  background: linear-gradient(rgba(0, 0, 0, 0.327), transparent), url("../img/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
  padding: 4rem 0rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#131c27), to(#663b34));
  background: linear-gradient(#131c27, #663b34);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  pointer-events: none;
}

.moving-cloud-1 {
  -webkit-animation: cloudAnimation 3s infinite alternate ease-in-out;
          animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 15%;
  z-index: -1;
  opacity: 0.5;
  -webkit-animation: cloudAnimation 3.2s infinite alternate ease-in-out;
          animation: cloudAnimation 3.2s infinite alternate ease-in-out;
}

@-webkit-keyframes cloudAnimation {
  from {
    -webkit-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes cloudAnimation {
  from {
    -webkit-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
  }
  to {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.benefit-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}

.benefit-head h3 {
  padding: 1rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.cards {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.cards img {
  max-width: 20%;
  margin: 3rem;
}

.cards h4, .cards p {
  padding: 1rem;
}

.icon-img {
  background: #304458;
}

#contact {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.453)), to(transparent)), url("../assets/img/contact-mountain.png");
  background: linear-gradient(rgba(0, 0, 0, 0.453), transparent), url("../assets/img/contact-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrapper {
  background: rgba(29, 40, 63, 0.664);
  width: 50%;
  color: white;
}

.form-wrapper label {
  margin: 0rem 3rem;
}

.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
}

.form-wrapper input {
  padding: 1rem 3rem;
}

.form-head {
  text-align: center;
  padding: 3.4rem;
}

.name-form,
.email-form {
  padding: 3rem;
  text-align: center;
}

footer {
  color: white;
  background: #131c27;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h5 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 935px) {
  html {
    font-size: 50%;
  }
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .cloud {
    height: 50rem;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-head h3 {
    background: #0c121a;
    background-clip: border-box;
    -webkit-background-clip: text;
  }
  .form-wrapper {
    width: 100%;
  }
  footer {
    text-align: center;
  }
  footer h5 {
    padding-bottom: 4rem;
  }
}

.hero-login {
  min-height: 80vh;
}

.login-form {
  background: rgba(29, 40, 63, 0.664);
  width: 100%;
  color: white;
}

.login-form label {
  margin: 0rem 3rem;
}

.login-form button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
}

.login-form input {
  padding: 1rem 3rem;
}
/*# sourceMappingURL=style.css.map */